<script>
    $(document).ready(function(){
        
        $(".editarParagrafo").click(function(){
           window.location.href = 'aobrademaria.php?id='+$(this).attr('id');
        });
        $(".excluirParagrafo").click(function(){
            if(confirm("Tem certeza que deseja excluir esse parágrafo")){
                    window.location.href = 'aobrademaria.response.php?acao=excluir&id='+$(this).attr('id');
                }
        });
        $("#foto").change(function() {
                    if ($(this).prop('files')[0]) {
                        // Use FileReader to get file
                        var reader = new FileReader();

                        // Create a preview once image has loaded
                        reader.onload = function(e) {
                                $("#imagem").prop('src', e.target.result);
                                //$("#srcfoto").prop('src', e.target.result);
                                //$("#base64foto").val(e.target.result);
                            }
                            // Load image
                        reader.readAsDataURL($(this).prop('files')[0]);
                    }
                });
    });
</script>
<section>
    <h1>A Obra de Maria<br/><small>EDITAR HISTÓRIA DA EMPRESA.</small></h1>
    <fieldset>
        <legend>Parágrafos</legend>
        <form class="form" id="frmEdit" method="post" action="aobrademaria.response.php" enctype="multipart/form-data" >
            <div class="row">
                <div class="span3 form-field">
                    <div class="control-group">
                        <label for="foto" class="control-label">Ordem:</label>
                        <p>(Ordem do parágrafo)</p>
                        <input type="number" required name="ordem"class="form-control span3 input-xlarge" value="{ORDEM}"/>                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field span12">
                   <div class="control-group">
                       <label for="foto" class="control-label">Texto:</label>
                       <p>(Texto do Parágrafo)</p>
                       <textarea rows="6" name="texto"class="ckeditor form-control span12 input-xlarge">{TEXTO}</textarea>             
                   </div>                           
               </div>               
            </div>
           <div class="row">
         <div class="form-field span12">
            <div class="control-group">
                <label for="foto" class="control-label">Foto:</label>
                <p>(foto do cliente)</p>
                <input name="foto" id="foto" type="file" accept=".gif,.jpeg,.jpg,.png,.bmp" class="form-control span12 input-xlarge"/>  
                <img id="imagem" src="../img/reviews/{FOTO_NAME}" style="height: 60px; width: auto;" />           
            </div>
            
        </div>
        </div>
        <div class="form-actions">
            <input type="hidden" value="salvar" name="acao" id="acao" />
            <input type="hidden" value="{ID}" name="id" id="idReview" />
            <button class="btn btn-primary" type="submit">SALVAR PARÁGRAFO</button>
            <a href="aobrademaria.php" class="btn btn-primary" id="btNovo" type="button">NOVO</a>
        </div>
        <ul class="thumbnails">
                    
            <!-- BEGIN BLOCK_REVIEW -->
           <li class="span3">
             <div class="thumbnail">
               <img data-src="../img/reviews/{FOTO_REVIEW}" style="width: 300px; height: 200px;" src="../img/reviews/{FOTO_REVIEW}">
               <div class="caption">
                 <h3>{COMENT_ORDEM}</h3>
                 <p>&nbsp;{COMENT_TEXTO}</p>
                 <p><button type="button" class="btn btn-danger excluirParagrafo" id="{ID_REVIEW}"><i class="icon-trash icon-white"></i></button>
                    <button type="button" class="btn btn-primary editarParagrafo" id="{ID_REVIEW}"><i class="icon-pencil icon-white"></i></button></p>
               </div>
             </div>
           </li>
           <!-- END BLOCK_REVIEW -->
         </ul>
    
        
        </form>
    </fieldset>
</section>