<script>
$(document).ready(function(){


</script>

<section>
<h1>Configurações do site</h1>
<form class="form-horizontal" id="frmEdit" method="post" action="configuracoes.response.php">
        <fieldset>
          <legend>Url da Revista para o site</legend>
          <div class="control-group" >
            <label for="urlRevista" class="control-label">Url:</label>
            <div class="controls">
             <input type="text" id="urlRevista" class="input-xlarge span5 required" name="urlRevista" value="{URL_REVISTA}" placeholder="Url da Revista">
            </div>
          </div>
		  
         <div class="form-actions">
         
            <button class="btn btn-primary" type="submit">Salvar</button>
         
          </div>
        </fieldset>
      </form>
</section>
